@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------------------------General Syles---------------------------------------------------------- */
html {
  @apply scroll-smooth;
}

*::-webkit-scrollbar {
  @apply w-[5px] h-[5px];
}

*::-webkit-scrollbar-thumb {
  @apply rounded bg-slate-300;
}

*::-webkit-scrollbar-track {
  @apply !bg-transparent;
}

body {
  @apply font-poppins text-slate-600 font-light;
}

img {
  @apply object-cover;
}

p,
a,
svg {
  @apply text-muted;
}

p {
  @apply leading-6;
}

a.btn {
  @apply opacity-100;
}

.center-center {
  @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.card {
  @apply p-4 bg-white border rounded-lg shadow;
}

.btn {
  @apply px-5 py-2 rounded-lg transition-a capitalize flex-shrink-0;
}

.btn-primary {
  @apply bg-primary text-white hover:bg-primary/80;
}

.btn-secondary {
  @apply bg-secondary text-white hover:bg-secondary/80;
}

.icon-box {
  @apply grid flex-shrink-0 rounded-full w-9 h-9 place-items-center text-muted bg-slate-200 hover:bg-slate-300 transition-colors sm:cursor-pointer;
}

.avatar {
  @apply w-10 h-10 rounded-full;
}

/* Back to top button */
.back-to-top-btn {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.back-to-top-btn.active {
  opacity: 1;
  visibility: visible;
}

/* Modals*/
.modal {
  @apply fixed top-0 left-0 z-[999] w-full h-full opacity-0 pointer-events-none bg-black/50 lg:static lg:opacity-100 lg:pointer-events-auto lg:bg-transparent transition-opacity duration-300;
}

.dialog {
  @apply absolute text-[14px] left-0 px-2 top-0 max-w-[250px] lg:overflow-hidden overflow-auto lg:hover:overflow-auto w-full h-full bg-[#222d32] text-slate-300 -translate-x-[500px] lg:fixed lg:translate-x-0 lg:border-r transition-a;
}

.dialog a {
  @apply !opacity-100;
}

.dialog a.active {
  @apply bg-[#334046] relative before:absolute before:w-[3px] before:h-full before:bg-primary before:left-0 before:top-0;
}

.modal.open,
.dialog.open {
  @apply translate-x-0 opacity-100 pointer-events-auto;
}

/* For Navbar */
@media (max-width: 1024px) {
  .navbar {
    width: 100vw !important;
  }
}

/* Inputs */
input,
select,
textarea {
  @apply flex h-9 w-full  !rounded-md !border !border-gray-300 bg-white px-3 py-1 !shadow-sm transition-colors placeholder:text-slate-400 focus-visible:!border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:!ring-primary disabled:cursor-not-allowed disabled:opacity-50;
}

input.error,
select.error,
textarea.error {
  @apply !border-red-500 focus:ring-0;
}

textarea {
  @apply h-20;
}

input[type="checkbox"],
input[type="radio"] {
  @apply !w-5 !h-5;
}

input[type="radio"] {
  @apply !rounded-full;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  @apply !shadow-blue-500/30 !shadow-md bg-primary hover:bg-primary !border-primary !ring-primary active:!bg-primary text-primary;
}

/* ------------------------------------ Custom Styles--------------------------------------------------------------------------- */
/* Tooltip */
.tooltip-enter {
  opacity: 0;
}

.tooltip-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.tooltip-exit {
  opacity: 1;
}

.tooltip-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* React Tabs */
.react-tabs__tab-list {
  @apply !border-slate-300;
}

.react-tabs__tab {
  @apply !border-0;
}

.react-tabs__tab--selected {
  @apply !bg-transparent !border-b-2 !border-solid !border-primary !text-inherit !text-primary;
}

.react-tabs__tab:focus:after {
  @apply !hidden;
}

/* Table */
.table-wrapper {
  @apply border-collapse text-[#717382] w-full;
}

table .btn,
table svg {
  @apply !text-sm !opacity-100;
}

.table-wrapper::-webkit-scrollbar {
  @apply hidden h-[8px];
}

.table-wrapper:hover::-webkit-scrollbar {
  @apply block;
}

.table-wrapper table {
  @apply rounded-lg !border !border-b-slate-200 !mt-4 md:mt-1;
}

table th,
table td {
  @apply whitespace-nowrap text-[14px];
}

.table-wrapper tr {
  @apply table-row;
}

.table-wrapper td {
  @apply !py-4 px-[0.4rem] text-left !border-t;
}

.table-wrapper th {
  @apply py-4 px-[0.4rem] text-left font-bold;
}

/* Datatables */
.dataTables_filter,
.dataTables_length {
  @apply mt-5 !float-none;
}

.custom_filters {
  @apply flex-col sm:flex-row flex-center-between gap-4 sm:gap-0;
}

.custom_filters input,
.custom_filters select {
  @apply !outline-none !rounded-lg !border !border-gray-300  focus:!border-primary !inline;
}

.dataTables_length select {
  @apply !w-20;
}

.dataTables_wrapper .dataTables_paginate {
  @apply !border !border-slate-300 rounded-lg mt-2 !p-0;
}

.dataTables_paginate .paginate_button {
  background-image: none !important;
  @apply !border-none;
}

.dataTables_paginate .paginate_button.next:hover,
.dataTables_paginate .paginate_button.previous:hover {
  @apply !text-inherit;
}

.dataTables_paginate .paginate_button:not(.previous, .next):hover {
  @apply !border-none !bg-primary;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  @apply !border-none !bg-primary !text-white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  @apply !text-white;
}

/* NProgress */
#nprogress .bar {
  @apply !bg-primary h-[3px] z-[99999];
}

#nprogress .spinner-icon {
  @apply border-primary;
  border-block-end-color: transparent !important;
}

#nprogress .peg {
  @apply !shadow-none;
}

/* Form Wizard */
.form-wizard svg {
  @apply !opacity-100;
}

.wizard-step:not(.wizard-step:last-child) {
  @apply border-r border-r-slate-300;
}

.wizard-step:last-child:before {
  display: none;
}

/* ---------------------------------------Public Section-------------------------------------------------------------- */
.navbar.scrolled {
  @apply shadow bg-white/80 backdrop-blur-lg text-inherit;
  animation: scroll 0.3s ease-in-out;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-link {
  @apply py-2;
}

.nav-link a {
  @apply hover:!text-primary !opacity-100 relative before:absolute before:w-1/2 before:h-[2px] before:bg-primary before:-bottom-1 before:left-0 before:scale-0 hover:before:scale-100 before:transition-all before:duration-300;
}

.nav-link a.active {
  @apply before:!scale-100 !text-primary;
}

.showMenu {
  @apply max-h-[100vh] p-4;
}

/* Swiper */
.swiper-pagination {
  z-index: 99 !important;
}
.swiper-pagination-bullet {
  background-color: #fff !important;
  width: 0.8rem !important;
  height: 0.8rem !important;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
  margin-top: -1rem !important;
}

/* Footer */

footer {
  @apply text-sm;
}

footer a {
  @apply hover:!text-primary transition-a hover:ml-1;
}

/* ------------------Top Routes section------------------ */
.route:nth-child(odd) {
  @apply float-left clear-right mr-[220px] translate-x-2 sm:!translate-x-0 sm:mr-[235px];
}

.route:nth-child(even) {
  @apply float-right -ml-3 -translate-x-[9px] sm:!translate-x-0 clear-left sm:-ml-4;
}

.route {
  @apply relative before:absolute before:w-3 before:h-3 before:bg-red-500 before:rounded-full;
}

.route:nth-child(odd)::before {
  @apply left-full ml-[4px] sm:ml-[4px];
}
.route:nth-child(even)::before {
  @apply right-full mr-[2px] sm:mr-[4px];
}

@media screen and (max-width: 380px) {
  .route:nth-child(odd) {
    @apply float-left clear-right mr-[140px] max-w-[140px] -translate-x-2 sm:!translate-x-0 sm:mr-[235px];
  }

  .route:nth-child(even) {
    @apply float-right -ml-3 translate-x-[8px] max-w-[140px] sm:!translate-x-0 clear-left sm:-ml-4;
  }

  .route span {
    @apply !text-xs;
  }
}
}
.services {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}
.services::before {
  content: "";
  background-image: url("images/Background1.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
}
.service_heading {
  position: absolute;
  z-index: 5;
  font-size: 2rem;
  color: #475569;
  margin-bottom: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.news-card {
  border: 0px solid aqua;
  margin: 0.5rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {
  .news-card {
    height: 20rem;
  }
}

.news-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 0;
}

.news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*     background: rgba(255,0,0,.5); */
}

.news-card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;
  /*     background-color: rgba(0, 0, 0, 0.4); */
  transition: background-color 1.5s ease;
}

.news-card__title {
  transition: color 1s ease;
  margin-bottom: 0.5rem;
}

.news-card__post-date {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: #ccc;
}

.news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
  .news-card:hover .news-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
  }
  .news-card:hover .news-card__text-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .news-card:hover .news-card__title {
    color: yellow;
  }
  .news-card:hover .news-card__image {
    transform: scale(1.2);
    z-index: -1;
  }
}

.news-card__excerpt {
  font-weight: 300;
  font-size: 1.2rem;
}

.news-card__read-more {
  background: black;
  color: #bbb;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid #444;
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5;
}

.news-card__read-more i {
  position: relative;
  left: 0.2rem;
  color: #888;
  transition: left 0.5s ease, color 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.news-card__read-more:hover i {
  left: 0.5rem;
  color: yellow;
}